<h1> Create Post </h1>

<%= form_for(@post) do |f| %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.fields_for(:comments) do |comment_form|%>
    <%= comment_form.text_area :body %>
  <% end %>

  <%= f.submit%>

<% end %>
